body {
    background-image: url(https://images.trvl-media.com/place/6108412/789a64f7-293c-4d5a-8c13-569da4658460.jpg);
    background-size: cover;
}

.date-time {
    margin-right: 0px;
}

.RayanOS {
    margin-left: 16px;
}

.tiger-gallery {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background-color: #f0f0f0;
    object-fit: contain;
}

.title-image {
    border: solid;
    border-radius: 16px;
    padding: 16px;
    background-color: rgb(252, 251, 244);
}

.title-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.tiger-gallery img {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;

}

.welcome-rayanOS {
    position: relative;
    margin-bottom: 15px;
}

.close-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #fff;
    align-self: flex-end;
    margin: 21px;
    margin-left: 21px;
}

.open-button {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 8px;
    gap: 32px;
    border-radius: 16px;
    margin: 16px;
    width: 150px;
    height: 50px;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 8px;
    gap: 32px;
    border-radius: 16px;
    margin: 16px;
}

.window-box {
    border: solid;
    width: 400px;
    border-radius: 16px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.25);
}

.welcome-page-header {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: grab;
    justify-content: space-between;
    margin-top: 8px;
    color: #fff;
    font-weight: 500;
    margin: 0px;
}